/*/////////////////////////////*/
/*/////////////BODY////////////*/
/*/////////////////////////////*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.main{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/*///////////////////////////////////*/
/*/////////////NAVIGATION////////////*/
/*///////////////////////////////////*/

.nav-item {
    padding-right: 15px;
}

.navbar {
    background-color: #d4a900;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}
.navbar-brand {
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 20px;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link.active {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
}



/*/////////////////////////////////*/
/*/////////////SERVICE/////////////*/
/*/////////////////////////////////*/

.service {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 93.5vh;
}

.service .one {
    background: #d4a900;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 80px;
}


/*/////////////////////////////////*/
/*///////////////DRAW//////////////*/
/*/////////////////////////////////*/

.draw {
    background-color: #ffffff;
    color: #636159;
}
.title{
    text-align: center;
}
.title h1 {
    font-weight: bold;
}

.draw .one {
    background: #d4a900;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 80px;
    color: #ffffff;
}

.draw .one h2 {
    color: #636159;
    font-weight: bold;
}


.draw .btn {
    padding: 1rem 1.5rem;
    border-radius: 80px;
    color: #ffffff;
    font-size: 20px;;
}

@media (max-width: 766px) {
    .kwadracik{
        margin-bottom: 48px;
    }
}
@media (min-width: 767px) {
    .kwadracik{
        margin-bottom: 0px;
    }
}

/*/////////////////////////////////*/
/*/////////////FOOTER//////////////*/
/*/////////////////////////////////*/

.footer {
    font-size: 1rem;
}


.footer img {
    max-width: 60px;
    margin-right: 10px;
}